/* modal content */

.agenda-list {
  padding: 16px;

  .agenda-list-item:last-child {

    > div:last-child {
        margin-bottom: 0;
    }
  }
}

.title {
  font-size: 1.33rem;
}

.item-live {
  position: relative;
  height: 112px;
  margin-top: 16px;
  margin-bottom: 32px;
  padding: 8px;
  padding-left: 18px;
  font-size: 0.9rem;
  border: 1px solid var(--blue6);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

  // &:before {
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  //   border-left: 10px solid var(--red);
  //   border-top-left-radius: 5px;
  //   border-bottom-left-radius: 5px;
  //   content: "";
  // }

  >p {
    margin-bottom: 6px;
    word-break: break-all;
  }

  span {
    // root color에 없음. #6a6a6a color가 비슷한 색으로 대체
    color: var(--gray12);
  }

  .item-sub-title {
    font-size: 0.83rem;
  }

  .item-title {
    font-size: 0.9rem;
    font-weight: bold;
  }

  .item-time {
    position: absolute;
    bottom: 8px;
    font-size: 1rem;
  }
}



