<div class="timetable-wrapper">
  <div class="timetable-nav">
    <div class="timetable-title">
      <p>Day</p>
    </div>
    <div class="timetable-list">
      <div class="content-inner">
        <div class="nav-item"><a [ngClass]="{'active':date===1}" (click)="setDate(1)">Friday, October 23</a></div>
        <div class="nav-item"><a [ngClass]="{'active':date===2}" (click)="setDate(2)">Saturday, October 24</a></div>
      </div>
    </div>
  </div>
  <div class="timetable">
    <!-- 23일 -->
    <table class="program" #table1 *ngIf="date === 1">
      <colgroup>
        <col style="width:10%">
        <col style="width:19%">
        <col style="width:19%">
        <col style="width:19%">
      </colgroup>
      <thead>
        <tr>
          <th><span>Time</span></th>
          <th #th1>
            Room A
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 0)"></div>
          </th>
          <th>
            Room B
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 1)"></div>
          </th>
          <th>
            Room C
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 2)"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="3">08:00-09:00</td>
          <td colspan="3" class="type01">Seminar I</td>
        </tr>
        <tr>
          <td>신경통증</td>
          <td>신경외과초음파</td>
          <td>말초</td>
        </tr>
        <tr>
          <td>
						<p>
							Gene Therapy Application for Degenerative Disc Disease 
							<br>
							좌장: 조용재(이화여대), 신동아(연세대)
							<br><br>
							1. CCN5 Reduces Ligamentum Flavum Hypertrophy by Modulating the TGF‐β Pathway
							<br>
							허준석(고려대)
							<br><br>
							2. Moving Forward: Gene Therapy for Intervertebral Disc Degeneration 
							<br>한인보(CHA의과학대)
						</p>
					</td>
          <td>
						<p>
							The Basic of US-guided Peripheral Nerve Injection
							<br>
							좌장: 김문간(수락신경외과)
							<br><br><br>
							1. Normal and Abnormal Ultrasound Finding of Peripheral Nerve
							<br>
							양진서(한림대)
							<br><br>
							2. How to Do Ultrasound Guided Injection Well? 
							<br>
							이정표(JP 신경외과의원)
							<br><br>
							3. Cases of Peripheral Nerve Injection Treatment Using Ultrasound
							<br>
							목영준(조은마디병원)
						</p>
					</td>
          <td>
						<p>
							Peripheral Nerve Tumor: Update
							<br>
							좌장: 박진규(PMC 박병원), 박관호(중앙보훈병원)
							<br><br><br>
							1. Update Information
							<br>
							최우진(건국대)
							<br><br>
							2. Diagnostic Imaging
							<br>
							차장규(순천향대 영상의학과)
							<br><br>
							3. Surgical Treatment
							<br>
							양진서(한림대)
						</p>
					</td>
        </tr>
        <tr>
          <td>09:00-09:10</td>
          <td colspan="3">Opening Remarks (KNS 이사장)</td>
        </tr>
        <tr>
          <td rowspan="5">09:10-10:10</td>
          <td colspan="3" class="type02">Plenary Session</td>
        </tr>
				<tr>
					<td colspan="3" class="right">좌장: 이일우(가톨릭대), 장재칠(순천향대)</td>
				</tr>
				<tr>
					<td colspan="3" class="right">
						<p>
							Clinical Application of Patient-Specific 3D Printing Brain Tumor Model (NeuroPhantom®) Production System for	Neurosurgery
						</p>
						도윤식(충북대)
						<br>
						지정토론자: 서영범(영남대)
					</td>
				</tr>
				<tr>
					<td colspan="3" class="right">
						<p>
							Decompression of the Greater Occipital Nerve (GON) for Occipital Neuralgia and Chronic Occipital Headache Caused by Entrapment of the GON
						</p>
						손병철(가톨릭대)
						지정토론자: 홍석호(울산대)
					</td>
				</tr>
				<tr>
					<td colspan="3" class="right">
						<p>
							Clinical Outcomes of Clipping and Coiling in Elderly Patients with Unruptured Cerebral Aneurysms: National
							Cohort Study in Korea
						</p>
						이시운(서울대)
						<br>
						지정토론자: 조준성(단국대)
					</td>
				</tr>
        <tr>
          <td rowspan="5">10:10-11:30</td>
          <td colspan="3" class="type02">Main Theme Symposium: New Normal, New Neurosurgery</td>
        </tr>
				<tr>
					<td colspan="3" class="right">좌장: 문창택(건국대), 김우경(가천대)</td>
				</tr>
				<tr>
					<td colspan="3" class="right">
						<p>	New Insight for Understanding Glioblastoma</p>
						강석구(연세대)
					</td>
				</tr>
				<tr>
					<td colspan="3" class="right">
						<p>	Paradigm Shift on the Surgical Treatment for Multiple Cerebral Aneurysm : Toward One-Stage Craniotomy Using
						Mini-Craniotomy</p>
						방재승(서울대)
					</td>
				</tr>
				<tr>
					<td colspan="3" class="right">
						<p>The Pathomechanism of Degenerative Spine Disease ; Inflammation, Hypertrophy and Adhesion</p>
						<br>
						김주한(고려대)
					</td>
				</tr>
        <tr>
          <td rowspan="3">11:30-12:20</td>
          <td colspan="3" class="type02">명사 초청강연</td>
        </tr>
				<tr>
					<td colspan="3" class="right">좌장: 오창완(서울대)</td>
				</tr>
				<tr>
					<td colspan="3" class="right">
						<p>보건복지부에서의 2년</p>
						정진엽 (제52대 보건복지부 장관)
					</td>
				</tr>
        <tr>
          <td>12:20-12:30</td>
          <td colspan="3">Break</td>
        </tr>
        <tr>
          <td rowspan="3">12:30-13:30</td>
          <td colspan="3" class="type01">Seminar II</td>
        </tr>
        <tr>
          <td>정위기능</td>
          <td>소아청소년</td>
          <td>혈관/혈관내</td>
        </tr>
				<tr>
					<td>
						<p>
							Cranial Neuralgias, New Perspectives.
							<br>
							좌장: 김무성(인제대), 전상용(울산대)
							<br><br><br>
							1. Microvascular Decompression for Trigeminal Neuralgia and Hemifacial Spasm
							Takamitsu Fujimaki, Saitama Medical University, Japan
							<br><br>
							2. Hemi-laryngopharyngeal spasm (HELPS)
							Christopher Honey, University of British Columbia, Canada
							<br><br>
							3. Failed Trigeminal Neuralgia Surgery Syndrome (FTNSS) for ON-TN (Referred Trigeminal Pain from Occipital Neuralgia)
							<br>
							손병철(가톨릭대)
						</p>
					</td>
					<td>
						<p>
							Arachnoid Cyst
							<br>
							좌장: 김승기(서울대), 김상대(고려대)
							<br><br><br>
							1. Surgical Indication
							<br>
							정상준(울산대)
							<br><br>
							2. Suprasellar Arachnoid Cyst
							<br>
							박은경(연세대)
							<br><br>
							3. Hemorrhagic Arachnoid Cyst
							<br>
							정태영(전남대)
						</p>
					</td>
					<td>
						<p>
							Antithrombotics in Cerebrovascular Diseases
							<br>
							좌장: 고현송(충남대), 윤석만(순천향대)
							<br><br><br>
							1. Classification, Mechanism and Recommendation
							<br>
							박근영(연세대)
							<br><br>
							2. Antithrmobotic Therapy in Neurointervention
							<br>
							강현승(서울대)
							<br><br>
							3. Perioperative Management of Antithrombotics
							<br>
							주성필(전남대)
						</p>
					</td>
				</tr>
        <tr>
          <td rowspan="4">13:30-14:30</td>
          <td colspan="3" class="type02">Special Lecture I</td>
        </tr>
				<tr>
					<td colspan="3" class="right">좌장: 유헌(국립암센터), 김세혁(아주대)</td>
				</tr>
				<tr>
					<td colspan="3" class="right">
						<p>Results of Survey on Impact of COVID on Brain Tumor Management</p>
						Gelareh Zadeh (University of Toronto, Canada)
					</td>
				</tr>
				<tr>
					<td colspan="3" class="right">
						<p>Recent Developments in Decompressive Craniectomy for Severe Traumatic Brain Injury</p>
						Shelly D. Timmons (Indiana University School of Medicine, USA)
					</td>
				</tr>
        <tr>
          <td rowspan="4">14:30-15:30</td>
          <td class="type03">Residents' Session</td>
          <td colspan="2" class="type04">Scientific Session I</td>
        </tr>
        <tr>
          <td>전공의</td>
          <td>정위기능/소아청소년</td>
          <td>뇌종양</td>
        </tr>
				<tr>
					<td>좌장: 박기정(대구가톨릭대), 김동욱(순천향대)</td>
					<td>좌장: 양국희(국립건강보험 일산병원), 정현호(연세대)</td>
					<td>좌장: 황정현(경북대), 양승호(가톨릭대)</td>
				</tr>
				<tr>
					<td>
						<p>
							1. The Effect of Therapeutic Ultrasound in Acute Spinal Cord Injury: Laboratory Investigation
							<br>
							정진우(경북대병원)
							<br><br>
							2. Machine Learning Assessment of Postoperative Spine Delirium using Electronic Medical Records Data: A Single Center
							Study
							<br>
							배영오(성균관대 강북삼성병원)
							<br><br>
							3. Anatomical Investigation of the Median Nerve with the Carpal Tunnel with Magnetic Resonance Imaging (MRI) in Carpal
							Tunnel Syndrome (CTS)
							<br>
							조우철(가톨릭대 서울성모병원)
							<br><br>
							4. Long-term Compression of Thoracic Spinal Cord with Decreased Cerebrospinal Fluid Space Following Implantation of
							5-column Paddle Lead Spinal Cord Stimulation at T9: A Long-term 3-Dimensional Myelographic Computed Tomographic Study
							<br>
							이창익(가톨릭대 서울성모병원)
							<br><br>
							5. The Development of the Notochord in Secondary Neurulation of Chick Embryos
							<br>
							장재훈(서울대병원)
							<br><br>
							6. Clinical Observation of Lymphopenia in Patients with Newly Diagnosed Glioblastoma
							<br>
							김우진(서울대병원)
							<br><br>
							7. Apparent Diffusion Coefficient as a Prognostic Factor in Clival Chordoma
							<br>
							오형철(연세대 강남세브란스병원)
							<br><br>
							8. Surgical Outcome of Fontal Sinus Violation Repair During Trans Eyebrow Keyhole Surgery
							<br>
							최제민(가톨릭대 부천성모병원)
						</p>
					</td>
					<td>
						<p>
							1. Optogenetic Stimulation of the Motor Cortex Alleviates Trigeminal Neuropathic Pain in Rats of Infraorbital Nerve Injury with/without CGRP Knock-Down
							<br>
							Jaisan Islam 제이슨이슬람(충북대)
							<br><br>
							2. Predictors of Adverse Radiation Effect after Gamma Knife Radiosurgery for Arteriovenous Malformation
							<br>
							김명지(연세대)
							<br><br>
							3. Treatment Planning Factors Associated with Long-Term Outcomes of Gamma Knife Surgery in Patients with Trigeminal
							Neuralgia
							<br>
							이은정(서울대)
							<br><br>
							4. Incidental Meningioma of the Elderly Patients: Gamma Knife Radiosurgery or Observation?
							<br>
							박창규(경희대)
							<br><br>
							5. Application of Machine Learning Architecture for Neonatal Seizure Detection Using Single-Channel EEG(Fp2-F4) in
							Multi-Channel EEG
							<br>
							유승준(연세대)
							<br><br>
							6. Neurocognitive Profile in Children with Arachnoid Cysts before and after Surgical Intervention
							<br>
							김경현(서울대)
						</p>
					</td>
					<td>
						<p>
							1, CeRNA Network Analysis Representing Characteristics of Different Tumor Environments Based on 1p/19q Codeletion in
							Oligodendrogliomas
							<br>
							임재준(CHA의과학대)
							<br><br>
							2. New Perspectives in Glioblastoma Origin Cells: Comparative Study of Human Subventricular Zone and Mouse
							Subventricular Zone Cells
							<br>
							강석구(연세대)
							<br><br>
							3. Endoscopic Endonasal and Transorbital Approach for the Lesion Involving the Petrous Apex
							<br>
							이원재(성균관대)
							<br><br>
							4. Radiotherapy for Brain Metastasis and Long-Term Survival: A Nationwide, Population-Based Study
							<br>
							박광우(가천대)
							<br><br>
							5. A Novel Biguanide (IM1760OUT60) Inhibits Stemness and Invasive Properties of Glioblastoma Tumorsphere
							<br>
							노태훈(아주대)
							<br><br>
							6. Very Minimally Invasive, Unilateral Transsphenoidal Approach through Tiny Extension of Sphenoid Ostium without Nasal
							Packing
							<br>
							박수정(이화여대)
						</p>
					</td>
				</tr>
        <tr>
          <td>15:30-16:30</td>
          <td colspan="3" class="type06">총회</td>
        </tr>
        <tr>
          <td rowspan="4">16:30-18:10</td>
          <td colspan="3" class="type02">Master Video Session I / Endoscopy Session</td>
        </tr>
        <tr>
          <td>내시경</td>
          <td>소아청소년</td>
          <td>뇌종양</td>
        </tr>
        <tr>
          <td>좌장: 이기택(가천대), 조진모(가톨릭관동대)</td>
          <td>좌장: 민경수(충북대), 피지훈(서울대)</td>
          <td>좌장: 정신(전남대), 이채혁(인제대)</td>
        </tr>
        <tr>
          <td>
						<p>
							1. The Role of Transorbital Approach in the Skull Base Surgery
							<br>
							공두식(성균관대)
							<br><br>
							2. Arachnoid Membrane: As the Beginning and End in Endoscopic Skull Base Surgery
							<br>
							김용휘(서울대)
							<br><br>
							3. Endonasal Management of Tuberculum Sella Meningiomas
							<br>
							James Evans (Thomas Jefferson University, USA)
							<br><br>
							4. Near Infrared Fluorophores as a Visualization Adjunct During Endoscopic Endonasal Pituitary and Anterior Skull Base Surgery
							<br>
							John Y.K. Lee (University of Pennsylvania, USA)
						</p>
					</td>
          <td>
						<p>
							1. 요천추부 지방종의 수술 (Surgery of Lumbosacral Lipomatous Malformation) 
							<br>
							왕규창(국립암센터)
							<br><br>
							2. Surgical Approach to the Pediatric Brain Tumors
							<br>
							김승기(서울대)
							<br><br>
							3. Functional Hemispherotomy
							<br>
							김동석(연세대)
							<br><br>
							4. Neuroendoscopic Biopsy of Isolated Pituitary-Stalk Lesion: Transventricular Approach
							<br>
							신형진(성균관대)
						</p>
					</td>
          <td>
						<p>
							1. Treatment Strategy for Ventral Foramen Magnum Meningiomas
							<br>
							이규성(연세대)
							<br><br>
							2. How I’ve Changed My Surgical Approach to Supra-Sellar and Anterior 1/3 CPA Tumors
							<br>
							조경기(CHA의과학대)
							<br><br>
							3. Modified Occipital Transtentorial Approach
							<br>
							전신수(가톨릭대)
							<br><br>
							4. Surgical Strategies for Glioma
							<br>
							장종희(연세대)
						</p>
					</td>
        </tr>
				<tr>
					<td>18:10-18:25</td>
					<td colspan="3" class="type02">학술상 시상</td>
				</tr>
      </tbody>
    </table>


    <!-- 24일 -->
    <table class="program" #table2 *ngIf="date === 2">
      <colgroup>
        <col style="width:10%">
        <col style="width:19%">
        <col style="width:19%">
        <col style="width:19%">
      </colgroup>
      <thead>
        <tr>
          <th><span>Time</span></th>
          <th #th2>Room A<div class="channel-btn" [ngStyle]="channelBtnStyle2" (click)="goLive(1, 0)"></div>
          </th>
          <th>Room B<div class="channel-btn" [ngStyle]="channelBtnStyle2" (click)="goLive(1, 1)"></div>
          </th>
          <th>Room C<div class="channel-btn" [ngStyle]="channelBtnStyle2" (click)="goLive(1, 2)"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="3">08:00-09:00</td>
          <td colspan="3" class="type01">Seminar III</td>
        </tr>
        <tr>
          <td>노인</td>
          <td>여의사</td>
          <td>뇌종양</td>
        </tr>
				<tr>
					<td>
						<p>
							노인환자의 수술 전후 관리
							<br>
							좌장: 조준(건국대), 조정기(가톨릭대)
							<br><br><br>
							1. 노인환자의 수술전 관리
							<br>
							최진규(가톨릭대)
							<br><br>
							2. 노인환자의 수술후 관리
							<br>
							장인복(한림대)
							<br><br>
							3. 노인 수술, 노인관리의 특수성이 건강보험에 어떻게 적용되고 있는가?
							<br>
							박광우(가천대)
						</p>
					</td>
					<td>
						<p>
							KWNS: Professional Development in Neurosurgery
							<br>
							좌장: 김은영(가천대)
							<br><br><br>
							1. My Training Experience to Be a Functional Neurosurgeon: From Clinic to Basic Research
							<br>
							이은정 (서울대)
							<br><br>
							2. Hospitalist in Neurosurgery: Current Roles and Future Directions
							<br>
							고은정 (서울대)
							<br><br>
							3. 미국연수 귀국보고(Report on One and a Half Years in USA)
							<br>
							심숙영 (인제대)
						</p>
					</td>
					<td>
						<p>
							Updates on Emerging Trends in the Management of Pituitary Adenomas
							<br>
							좌장: 이선일(인제대), 장종희(연세대)
							<br><br><br>
							1. How Do We Define Aggressive Pituitary Adenomas in the Era of New Who Classification System?
							<br>
							박재성(가톨릭대)
							<br><br>
							2. Is Surgical Treatment Possibly a First-Line Treatment Option for Prolactinomas?
							<br>
							장우열(전남대)
							<br><br>
							3. Practical Utilization of Optical Coherence Tomography (OCT) in the Management of Pituitary Adenomas
							<br>
							김의현(연세대)
						</p>
					</td>
				</tr>
        <tr>
          <td rowspan="4">09:00-10:00</td>
          <td colspan="3" class="type02">Special Lecture II</td>
        </tr>
				<tr>
					<td colspan="3" class="right">좌장: 정진영(연세에스병원), 조용준(한림대)</td>
				</tr>
				<tr>
					<td colspan="3" class="right">
						<p>Treatment of Medium and Small Aneurysms with Flow Diverters- Reflections of PREMIER Study</p>
						Ricardo A. Hanel (Lyerly Neurosurgery, USA)
					</td>
				</tr>
				<tr>
					<td colspan="3" class="right">
						<p>Mechanistic Understanding in Biomedicine with Big Data</p>
						Changwon Yoo (Florida International University, USA)
					</td>
				</tr>
        <tr>
          <td rowspan="4">10:00-11:40</td>
          <td colspan="3" class="type02">Master Video Session II & Surgical Approaches</td>
        </tr>
        <tr>
          <td>Approaches</td>
          <td>뇌혈관</td>
          <td>척추</td>
        </tr>
				<tr>
					<td>좌장: 김은영(인하대), 조성진(순천향대)</td>
					<td>좌장: 김종수(성균관대), 정영균(인제대)</td>
					<td>좌장: 김인수(계명대), 박승원(중앙대)</td>
				</tr>
				<tr>
					<td>
						<p>
							1. Rationale and Clinical Applications for Extradural Anterior Clinoidectomy
							<br>
							Soichi Oya (Saitama Medical University, Japan)
							<br><br>
							2. Petrosal Approach
							<br>
							홍창기(연세대)
							<br><br>
							3. How to Apply Translabyrinthine Approach for Vestibular Schwannomas as a Neurosurgeon?
							<br>
							설호준(성균관대)
							<br><br>
							4. Suboccipital Craniotomy - Retrosigmoid Approach
							<br>
							박창규(경희대)
						</p>
					</td>
					<td>
						<p>
							1. Posterior Circulation Aneurysm
							<br>
							권병덕(경희대)
							<br><br>
							2. One-Stage Clipping of Multiple Intracranial Aneurysms
							<br>
							조원상(서울대)
							<br><br>
							3. Bypass Surgery in Neurosurgical Field
							<br>
							박익성(가톨릭대)
							<br><br>
							4. CEA ; from Surgical Anatomy to Primary Closure for the Future Neurovascular Surgeons.
							<br>
							김태선(전남대)
						</p>
					</td>
					<td>
						<p>
							1. How to Manage the Intramedullary Spinal Cord Tumor ? - Strategy and Pitfalls
							<br>
							조용은(연세대)
							<br><br>
							2. Surgical Anatomy and Complete Decompression of Cervical Neuronal Foramen via Anterior Approach
							<br>
							김근수(연세대)
							<br><br>
							3. Diverse Footages of Endoscopic Cervical Lamino-Foraminotomy
							<br>
							이준호(경희대)
							<br><br>
							4. Application of Full Endoscopic Transforaminal Lumbar Interbody Fusion for Degenerative Spinal Disease
							<br>
							김현성(강남나누리병원)
						</p>
					</td>
				</tr>
        <tr>
          <td rowspan="4">11:40-12:40</td>
          <td colspan="3" class="type04">Scientific Session II</td>
        </tr>
        <tr>
          <td>노인, 신경손상, 신경중환자, 신경통증</td>
          <td>혈관/혈관내</td>
          <td>척추</td>
        </tr>
        <tr>
          <td>좌장: 정제훈(순천향대), 김승범(경희대)</td>
          <td>좌장: 권순찬(울산대), 이상원(양산부산대)</td>
          <td>좌장: 이승명(조선대), 조대진(경희대)</td>
        </tr>
				<tr>
					<td>
						<p>
							1. Efficient and Accurate Diagnosis of Herpes Zoster from a Clinical Image by Distilling Deep Neural Network Ensemble
							<br>
							유승준(연세대)
							<br><br>
							2. The Efficacy and Successful Factors of Pulsed Radiofrequency Treatment of Lumbosacral Radicular Pain Patients
							<br>
							한성록(인제대)
							<br><br>
							3. Genome-Wide Blood Dna Methylation Analysis in Patients with Delayed Cerebral Ischemia after Subarachnoid Hemorrhage 
							<br>
							전진평(한림대)
							<br><br>
							4. Gender Differences in Adult Traumatic Brain Injury According to the Glasgow Coma Scale: A Retrospect Multicenter
							Cohort Analysis
							<br>
							엄기성(원광대)
							<br><br>
							5. The Establishment of Neurotoxic Model Using Human Cerebral Organoids 
							<br>
							양승호(가톨릭대)
							<br><br>
							6. Neuroprotective Potential of Sea Buckthorn (Hippophae Rhamnoides L.) for in-Vivo/in-Vitro Acute Stroke Model
							<br>
							동유정(서울의료원)
						</p>
					</td>
					<td>
						<p>
							1. Machine Learning Application for Rupture Risk Assessment in Small-Sized Intracranial Aneurysm
							<br>
							전진평(한림대)
							<br><br>
							2. Does a Large Diameter of Fetal Type Posterior Cerebral Artery Deliver a Large Amount of Blood Flow? - Computational
							Fluid Dynamics Analysis
							<br>
							정재우(단국대)
							<br><br>
							3. Age and Sustained Systemic Inflammatory Response Syndrome, Important Factors for Predicting Shunt Dependence after
							Aneurysmal Subarachnoid Hemorrhage
							<br>
							조동영(이화여대)
							<br><br>
							4. Ticagrelor versus Clopidogrel in the Dual Antiplatelet Regimen for Intracranial Stenting or Flow Diverter Treatment
							for Unruptured Cerebral Aneurysms: A Single Center Cohort Study
							<br>
							박근영(연세대)
							<br><br>
							5. Gradual Expansion of Stent Retriever in Mechanical Thrombectomy for Curved Middle Cerebral Artery: Structural
							Findings of the Stent for Predictable Recanalization Results
							<br>
							김명진(가천대)
							<br><br>
							6. Low-Dose 3D Rotational Angiography in the Evaluation of Intracranial Aneurysms: Analysis of Image Quality and
							Radiation Dose
							<br>
							기희종(가톨릭대)
						</p>
					</td>
					<td>
						<p>
							1. The Efficacy of Ultrasonic Bone Scalpel for Unilateral Cervical Open-Door Laminoplasty: A Randomized Controlled Trial
							<br>
							김치헌(서울대)
							<br><br>
							2. Safety and Efficacy of Intraoperative Doppler Sonography for the Cervical Pedicle Screw Fixation
							<br>
							이상효(가톨릭대)
							<br><br>
							3. Which Is More Predictive Value for Mechanical Complications: Fixed Thoracolumbar Alignment vs. Dynamic Global Balance
							Parameter
							<br>
							김광렬(가톨릭관동대)
							<br><br>
							4. Durability and Failure Types of s2-Alar-Iliac Screws: An Analysis of 312 Consecutive Screws
							<br>
							정종명(가천대)
							<br><br>
							5. How to Make L5-S1 Approach Easier in Multilevel Oblique Lateral Interbody Fusion Surgery.
							<br>
							고명진(중앙대)
							<br><br>
							6. Anatomical Importance between Neural Structure and Bony Landmark: Clinical Importance for Posterior Endoscopic
							Cervical Foraminotomy
							<br>
							김지연(강남 나누리병원)
						</p>
					</td>
				</tr>
        <tr>
          <td rowspan="3">12:40-13:40</td>
          <td colspan="3" class="type01">Seminar IV</td>
        </tr>
        <tr>
          <td>신경손상</td>
          <td>신경중환자</td>
          <td>척추</td>
        </tr>
				<tr>
					<td>
						<p>
							Diagnosis and Management for Concussion
							<br>
							좌장: 유도성(가톨릭대), 양희진(서울대)
							<br><br><br>
							1. Biomarker for TBI - Bench to Bed
							<br>
							윤정호(단국대)
							<br><br>
							2. Delayed Effect of Repetitive Concussion - Posttraumatic Encephalopathy
							<br>
							조광욱(가톨릭대)
							<br><br>
							3. Treatment for Postconcussional Syndrome
							<br>
							정규하(고려대)
						</p>
					</td>
					<td>
						<p>
							Neurosurgery in the Era of COVID-19
							<br>
							좌장: 권정택(중앙대), 박인성(경상대)
							<br><br><br>
							1. General Review about COVID-19
							<br>
							최평균(서울대 감염내과)
							<br><br>
							2. Neurological Reports Related to COVID-19
							<br>
							최현호(중앙대)
							<br><br>
							3. Real Experience in the Clinical Field
							<br>
							은진(가톨릭대)
						</p>
					</td>
					<td>
						<p>
							Trend Update of Cervical Spine Deformity
							<br>
							좌장: 김세훈(고려대), 김기정(서울대)
							<br><br><br>
							1. Sagittal Balance Essentials in Cervical Spine Deformity
							<br>
							손동욱(양산부산대)
							<br><br>
							2. Planning and Execution for Cervical Osteotomies
							<br>
							박진훈(울산대)
							<br><br>
							3. How to Reduce Complication Rates of Cervical Deformity Surgeries
							<br>
							현승재(서울의대)
							<br><br>
							4. Application of New Nomenclature System for Surgical Correction of the Cervical Spine Deformity
							<br>
							홍재택(가톨릭대)
						</p>
					</td>
				</tr>
        <tr>
          <td>13:40-14:00</td>
          <td colspan="3">Break</td>
        </tr>
        <tr>
          <td rowspan="2">14:00-15:00</td>
          <td class="type05">보험진료지침 워크샵</td>
          <td class="type05">JKNS 윤리교육</td>
          <td class="type05">한국장기조직기증원</td>
        </tr>
				<tr>
					<td>
						<p>
							1. 보험진료지침서 3판 소개
							<br>
							: 이상구(가천대)
							<br><br>
							2. Brain 분야
							<br>
							:공민호(서울의료원)
							<br><br>
							3. Spine 및 말초 분야
							<br>
							: 손동욱(양산부산대)
							<br><br>
							4. 개원의 분야
							<br>
							: 이정표(JP신경외과의원)
						</p>
					</td>
					<td>
						<p>
							1. 논문작성과 심사에서 고려해야할 출판윤리
							<br>
							김범태(순천향대)
						</p>
					</td>
					<td>
						<p>
							1. 연명의료법 시행에 따른 효율적 장기기증 연계 방안
							<br>
							손문준(인제대)
						</p>
					</td>
				</tr>
      </tbody>
    </table>
  </div>
</div>
