.banner-wrapper {
  position: relative;
  text-align: center;

  .m-banner-image {
    display: none;
    width: 100%;
    height: 150px;
    max-height: 10vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

}

@media (max-width: 767px) {
  .banner-wrapper {
    .m-banner-image {
      display: block;
    }

    &>img {
      display: none;
    }
  }
}
