<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div>
        <div class="title-wrapper">
          <h2>Special Guest Lecture</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'"
              *ngFor="let speaker of speakers['Myungsa']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Invited Speaker Lecture</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'"
              *ngFor="let speaker of speakers['Plenary lecture']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Master Video Session & Seminar</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'"
              *ngFor="let speaker of speakers['Special session']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Seminar I</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'"
              *ngFor="let speaker of speakers['Seminar i']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Opening Remarks</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'" *ngFor="let speaker of speakers['Or']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Plenary Session</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'" *ngFor="let speaker of speakers['Pl']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Main Theme Symposium : New Normal, New Neurosurgery</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'" *ngFor="let speaker of speakers['Mts']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Seminar II</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'"
              *ngFor="let speaker of speakers['Seminar ii']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Special Lecture I</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'" *ngFor="let speaker of speakers['Sl i']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Residents' Session</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'" *ngFor="let speaker of speakers['Rs']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Scientific Session I</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'" *ngFor="let speaker of speakers['Ss i']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Master Video Session I / Endoscopy Session</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'" *ngFor="let speaker of speakers['Mvs i']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Seminar III</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'"
              *ngFor="let speaker of speakers['Seminar iii']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Special Lecture II</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'" *ngFor="let speaker of speakers['Sl ii']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Master Video Session II & Surgical Approaches</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'"
              *ngFor="let speaker of speakers['Mvs ii']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Scientific Session II </h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'" *ngFor="let speaker of speakers['Ss ii']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Seminar IV</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'"
              *ngFor="let speaker of speakers['Seminar iv']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>보험진료지침 워크샵</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'"
              *ngFor="let speaker of speakers['Boheom']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>JKNS 윤리교육</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'" *ngFor="let speaker of speakers['Jkns']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>장기조직기증원</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'"
              *ngFor="let speaker of speakers['Jangki']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
