.search-wrapper {
  text-align: right;

  .select-box {
    width: 170px;

  }

  @media(max-width: 575px) {

    .search-input {
      width: 100%;
      max-width: 100%;
    }
  }
}

.poster-list-wrapper {
  .poster-list {
    .category-title {
      font-size: 2rem;
      font-weight: bold;
    }

    .row {
      width: 100%;
      margin: 0 auto;
      padding: 24px 0;

      .poster-item {
        padding: 0 12px 24px;

        .poster-card {
          height: 155px;
          box-shadow: 0px 3px 6px var(--gray6);
          outline: none;
          transition: transform 0.5s;
          cursor: pointer;

          &:hover {
            transform: scale(1.02);
          }

          .poster-thumbnail {
            height: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
          }

          .poster-body {
            height: 100%;
            padding: 16px;
            position: relative;
            background: var(--gray4);

            h4 {
              font-size: 1.4rem;
              font-weight: 600;
              line-height: 1.4;
              text-transform: uppercase;
            }

            p {
              position: absolute;
              left: 16px;
              bottom: 0;
              color: var(--gray25);
              font-size: 1.3rem;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}


@media(max-width: 767px) {
  .search-wrapper {
    text-align: left;
  }

  .poster-list-wrapper {
    padding-top: 16px;

    .poster-list {
      .row {
        padding: 16px 0;

        .poster-item {
          flex: 0 0 50%;
          max-width: 50%;

          .poster-card {
            height: 135px;
          }
        }
      }
    }
  }
}

@media(max-width: 575px) {

  .search-wrapper {
    .select-box {
      display: block;
      width: 100%;
      margin-bottom: 8px;
    }
  }

  .poster-list-wrapper {
    .poster-list {
      .row {
        .poster-item {
          flex: none;
          max-width: 100%;
        }
      }
    }
  }
}
