.live-player {
  .live-info {
    padding: 16px;
    border: 1px solid var(--gray4);
    box-sizing: border-box;
    background: var(--white);

    .live-agenda {
      .category {
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 1.5rem;
      }

      .title {
        font-size: 1.4rem;
        color: var(--black);
      }
    }

    .btn-atndn-check {
      width: 160px;
      height: 34px;
      border-radius: 11px;
      color: var(--white);
      outline: none;

      &.in {
        background: var(--blue5);
      }

      &.out {
        background: var(--red);
      }
    }
  }
}

.program-agendas {
  margin-top: 60px;
  padding-bottom: 100px;
  border-top: 1px solid var(--gray26);
}

.entry-alert-btn {
  display: none;
}

.entry-alert {
  background: RGBA(0, 0, 0, .8);

  .modal-content {
    padding: 32px;
    width: 500px;
    max-width: 90%;
    background: var(--gray23);

    .modal-title {
      padding-bottom: 8px;
      color: var(--white);
      font-size: 2.1rem;
      border-bottom: 1px solid var(--white);
    }

    .modal-description {
      padding: 16px 0;

      label {
        font-size: 1.3rem;
        color: var(--yellow2);
      }

      p {
        padding: 8px 0;
        font-size: 2.1rem;
        color: var(--white);
      }
    }

    .confirm-btn {
      height: 50px;
      color: var(--white);
      font-size: 1.3rem;
      font-weight: 600;
      border-radius: 25px;
      background: var(--blue2);

      &.in {
        background: var(--blue2);
      }

      &.out {
        background: var(--red);
      }
    }
  }
}


.banners-wrapper {
  position: relative;
  padding: 0 34px;

  .banners-btn {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 100%;
    background: #EAEAEA;

    &.banners-prev {
      left: 0;

      img {
        transform: rotate(-90deg);
      }
    }

    &.banners-next {
      right: 0;

      img {
        transform: rotate(90deg);
      }
    }
  }

  ng-image-slider {
    display: flex;

    .ng-image-slider {
      .ng-image-slider-container .main .img-div {
        position: relative;
        padding: 0 8px;
        box-shadow: none;
        border-radius: 0;
        cursor: pointer;

        img {
          max-width: 80%;
          max-height: 80%;
          border-radius: 0;
          // max-height: 40px ;
        }

        &::before {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto 0;
          width: 1px;
          height: 14px;
          border: 1px solid #E2E2E2;
          box-sizing: border-box;
          content: '';
        }
      }
    }
  }
}
